[Unit]
Description=SlugChess Server service
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=1
User=slugchess
WorkingDirectory=/opt/slugchess
ExecStart=/opt/slugchess/slugchess-server 43327

[Install]
WantedBy=multi-user.target
